<html>
<head>
  <title></title>
</head>
<body>
<h2>Kellie Foxx-Gonzalez</h2>
<img src="public/Kellie.jpg">
<ul>
    <li>Code in Ruby</li>
    <li>Write</li>
    <li>Play Videogames</li>
</ul>
<% yield %>
</body>
</html>